/*----------------------------------------------------- GENERAL -------------------------------------------------------*/
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #171b26a9;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1000px;
    min-width: 555px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    background-color: #171B26;
    min-width: 555px;
}

h1, h2 {
    color: #171B26;
}

.title {
    font-size: 2em;
    text-align: center;
}

.text {
    line-height: 24px;
    word-wrap: break-word;
}

/*----------------------------------------------------- HEADER-------------------------------------------------------*/

.nav {
    margin: 0;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav__item {
    flex: 0 0 14%;
}

.nav__link {
    text-decoration: none;
    color: #eee;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 20px;
    /* font-weight: bold; */
    border-radius: 5px;
    transition: 0.3s;
}

.nav__link:hover {
    background-color: #7a818786;
}

@media (max-width: 938px){
    .nav__item {
        flex: 0 0 25%;
    }
}

/* ------------------------------------------------INFO-BLOCK-------------------------------------------------------- */
.info-block {
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 50px;
    align-items: stretch;
    color: #eee;
}

.info-block__photo {
    flex: 1 1 30%;
    position: relative;
}

.info-block__photo img {
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.info-block__content {
    flex: 1 1 70%;
    height: 100%;
    padding: 0px 100px;
}

.info-block__title {
    font-size: 4em;
    margin: 0 ;
    text-align: left;
    margin-bottom: 70px;
    color: #eee;
}

.title-small-size {
    display: none;
}

.contacts__title {
    color: #eee;
    margin-bottom: 10px;
    text-align: left;
}

.contacts__row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.contact {
    flex: 1 0 50%;
    padding: 15px 0;
}

.contact__subtitle {
    color:rgb(136, 136, 136);
}

.contact__title {
    padding-bottom: 5px;
}

@media (max-width: 938px) {
    .title-large-size {
        display: none;
    }

    .title-small-size {
        flex: 1 1 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .info-block__photo {
        flex: 1 1 40%;
        position: static;
        display: flex;
    }

    .info-block__photo img {
        position: static;
        transform: none;
    }

    .contacts {
        padding-top: 50px;
        text-align: center;
    }

    .contacts__title {
        text-align: center;
    }
}

@media (max-width: 740px) {
    .title-small-size {
        padding-left: 40px;
    }
}

@media (max-width: 648px) {
    .title-small-size {
        padding-bottom: 60px;
    }
    .info-block__title {
        order: 1;
    }

    .info-block__photo {
        order: 2
    }

    .info-block__content {
        order: 3;
    }

}
/* ------------------------------------------------------MAIN--------------------------------------------------- */
.main {
    display: flex;
    flex-direction: column;
}

.main__row {
    padding: 0 50px 50px 0;
}

.row-left {
    flex: 1 1 30%;
    background-color: #eee;
    padding: 30px 50px;
}

.row-right {
    flex: 1 1 70%;
    padding: 30px 50px;
}

@media (max-width: 975px ) {
    .main {
        flex-wrap: wrap;
    }

    .row-left {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
    }
    .education {
        flex: 1 1 100%;
    }

    .skills {
        flex: 1 1 50%;
    }
    
    .language {
        flex: 1 1 50%;
    }
}
/* ----------------------------------------------------ABOUT ME--------------------------------------------- */
.about-me {
    padding-bottom: 30px;
}
/* --------------------------------------------------- EDUCATION----------------------------------------*/
.education {
    padding-bottom: 30px;
}

.education__title {
    text-align: center;
}

.education__list {
    padding: 0;
    font-weight: bold;
}

.education__item {
    padding-bottom: 30px;
}

.education__item:last-child {
    padding-bottom: 0;
}

.education__sublist {
    font-weight: normal;
    padding-top: 10px;
}


/* -------------------------------------------SKILLS------------------------------------------------------ */
.skills {
    padding-bottom: 30px;
}

.skills__title {
    text-align: center;
}

.skills__list {
    padding-left: 40px;
    margin-right: 50px;
}

.skills-list__item {
    margin-bottom: 10px;
}

.skills__row {
    display: flex;
    
}

.skills-progress__item {
    display: flex;
    height: 18px;
    margin-bottom: 10px;
}

.skills-progress__circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 5px;
}

.circle-active {
    background-color: #171B26;
}

/* -----------------------------------------------------CODE----------------------------------------------- */
.code {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code__text {
    letter-spacing: 1.5px;
    background-color: #eee;
}

@media (max-width: 1150px){
    .code__text {
        max-width: 520px;
        overflow: auto;
    }
    .mai__row{
        padding: 0 30px;
    }
}

@media (max-width: 1015px){
    .code__text {
        max-width: 450px;
        overflow: auto;
    }
    .mai__row{
        padding: 0 30px;
    }
}

@media (max-width: 975px){
    .code__text {
        max-width: none;
    }
}
@media (max-width: 761px){
    .code__text {
        max-width: 520px;
    }
    .main__row{
        padding: 0 10px;
    }
}


/* --------------------------------------------LANGUAGE----------------------------------------------- */
.language {
    padding-bottom: 30px;
}

.language__title {
    text-align: center;
}

.language__item {
    margin-bottom: 10px;
}

/* --------------------------------------------------PROJECTS------------------------------------------------- */
.projects {
    padding-bottom: 30px;
}

.projects__row {
    display: flex;
    flex-wrap: wrap;
}

.projects__link {
    display: inline-block;
    flex: 0 1 50%;
    padding-right: 20px;
    text-decoration: none;
    color:#171B26;
    font-weight: bold;
}

.projects__link img {
    width: 100%;
    border: 1px solid #171B26;
}

@media (max-width: 1150px) {
    .projects__link {
        flex: 1 1 100%;
    }
}

@media (max-width: 975px) {
    .projects__link {
        flex: 0 1 50%;
    }
}

@media (max-width: 800px) {
    .projects__link {
        flex: 1 1 100%;
    }
}
/* --------------------------------------------------FOOTER------------------------------------ */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__link {
    display: block;
    width: 64px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.item-text {
    color: #eee;
}

.link-rs {
    background-image: url(./img/rs_school_js.png);
}

.link-github {
    background-image: url(./img/github.svg);
}
